@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&family=Raleway:wght@400;800&display=swap');

::selection {
    background: #614e6e;
}

body {
    background-image: linear-gradient(to right, #010101, #1a151b 50%, #010101);
    color: #e6e6e6;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 800;
    margin-bottom: 10px !important;
    font-size: 3em !important;
    transition: all 0.5s;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

li {
    margin: 4px 8px;
    display: inline-block;
}

a:link, a:visited {
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1.5em;
    transition: color 4s;
}

a:hover {
    transition: color 0.5s;
}

#behance:hover {
    color: #0057ff;
}

#linkedin:hover {
    color: #283e4a;
}

#unsplash:hover {
    color: #346100;
}

#resume:hover {
    color: #614e6e;
}

@media (min-width: 1px) and (max-width: 900px) {

    h1 {
        font-size: 2em !important;
        transition: all 0.5s;
    }

    #menu {
        width: 60%;
        margin: auto;
    }
}